@main-color:#42AAC8;
@blue-color:#3399CC;
@green-color:#6AB35C;
@grey-color:#f5f5f5;
@border-color:#ccc;
@bg-color:#f8f8f8;
@red-color:#E31E1E;
@yellow-color:#F4BD00;
.transition(@time){
    transition:all @time ease;
}
.ellipsis-n(@n){
    -webkit-line-clamp:@n;
    display:-webkit-box;
    overflow: hidden;
    justify-content: center;
    -webkit-box-orient: vertical;
}
.ellipsis-1{
    -webkit-line-clamp:1;
    display:-webkit-box;
    overflow: hidden;
    justify-content: center;
    -webkit-box-orient: vertical;
}
.shandow(){
    box-shadow: 1px 2px 4px rgba(0,0,0,.3);
}
.border-radius100{
    border-radius: 50%;
}
.fz-weight{
    font-weight: 400;
}